*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}





body{
    font-family: 'outfit';
    background: linear-gradient(#300803,#fff7f9);
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

h1 {
    font-size: 24px;
    
    color: white;
    text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 30px;
    margin-left: 40px;
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    
}

nav ul li a:hover {
    text-decoration: underline;
    color: black;
    border: 2px solid rgb(255, 0, 0);
    background:rgb(255, 0, 0);
    transition: 0.5s;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}
.contact-left-title h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 60px;
    margin-bottom: 5px;

}
.contact-left-title hr{
    border: none;
    width: 150px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
    cursor: pointer;
}

.contact-left button img{
    width: 15px;
}
.contact-right img{
    width: 500px;
}

@media (max-width:800px){
    .contact-inputs{
            width: 80vw;
        }
        .contact-right{
            display: none;
        }
    }
